# Data Preprocessing

In [1]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
%pwd

'/content'

In [2]:
%cd /content/gdrive/My Drive/Kaggle_Data/P2P lending/

/content/gdrive/My Drive/Kaggle_Data/P2P lending

In [ ]:
%pwd

'/content/gdrive/My Drive/Kaggle_Data/P2P lending'

In [ ]:
%ls

accepted_2007_to_2018Q4.csv

In [ ]:
pip install datatable

Collecting datatable
  Downloading datatable-1.0.0-cp37-cp37m-manylinux_2_12_x86_64.whl (96.9 MB)
     |████████████████████████████████| 96.9 MB 56 kB/s
Installing collected packages: datatable
Successfully installed datatable-1.0.0

In [3]:
import pandas as pd
import numpy as np

In [5]:
data =  pd.read_csv("accepted_2007_to_2018Q4.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data.shape

(2260701, 151)

In [ ]:
data

                                                       id  ...  settlement_term
0                                                68407277  ...              NaN
1                                                68355089  ...              NaN
2                                                68341763  ...              NaN
3                                                66310712  ...              NaN
4                                                68476807  ...              NaN
...                                                   ...  ...              ...
2260696                                          88985880  ...              NaN
2260697                                          88224441  ...              1.0
2260698                                          88215728  ...              NaN
2260699  Total amount funded in policy code 1: 1465324575  ...              NaN
2260700   Total amount funded in policy code 2: 521953170  ...              NaN

[2260701 rows x 151 columns]

In [ ]:
data.head()

         id  member_id  ...  settlement_percentage  settlement_term
0  68407277        NaN  ...                    NaN              NaN
1  68355089        NaN  ...                    NaN              NaN
2  68341763        NaN  ...                    NaN              NaN
3  66310712        NaN  ...                    NaN              NaN
4  68476807        NaN  ...                    NaN              NaN

[5 rows x 151 columns]

In [ ]:
data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'fico_range_low',
       'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag',
       'hardship_type', 'hardship_reason', 'hardship_status',
       'deferral_term', 'hardship_amount', 'hardship_start_date',
       'hardship_end_date', 'payment_plan_start_date', 'hardship_length',
       'hardship_dpd', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status',
       'settlement_date', 'settlement_amount', 'settlement_percentage',
       'settlement_term'], dtype=object)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

In [ ]:
pd.options.display.max_columns=None

In [ ]:
data.isnull().sum()

id                             0
member_id                2260701
loan_amnt                     33
funded_amnt                   33
funded_amnt_inv               33
                          ...
settlement_status        2226455
settlement_date          2226455
settlement_amount        2226455
settlement_percentage    2226455
settlement_term          2226455
Length: 151, dtype: int64

## Preprocessing employment length column

In [ ]:
data['emp_length'].dtype

dtype('O')

In [ ]:
data['emp_length'].unique()

array(['10+ years', '3 years', '4 years', '6 years', '1 year', '7 years',
       '8 years', '5 years', '2 years', '9 years', '< 1 year', nan],
      dtype=object)

In [ ]:
data['emp_length_int']=data['emp_length'].str.replace('\+ years','')
data['emp_length_int']=data['emp_length_int'].str.replace('< 1 year',str(0))
data['emp_length_int']=data['emp_length_int'].replace(np.nan, str(0), regex=True)
data['emp_length_int']=data['emp_length_int'].str.replace(' years','')
data['emp_length_int']=data['emp_length_int'].str.replace(' year','')

In [ ]:
data['emp_length_int'].unique()

array(['10', '3', '4', '6', '1', '7', '8', '5', '2', '9', '0'],
      dtype=object)

In [ ]:
data['emp_length_int']=pd.to_numeric(data['emp_length_int'])

In [ ]:
type(data['emp_length_int'][0])

numpy.int64

## Preprocessing of term column

In [ ]:
data['term'].unique()

array([' 36 months', ' 60 months', nan], dtype=object)

In [ ]:
data['term'].value_counts()

 36 months    1609754
 60 months     650914
Name: term, dtype: int64

In [ ]:
data['term'].isnull().sum()

33

In [ ]:
data['term_int']=data['term'].str.strip()
data['term_int']=data['term_int'].str.replace(' months','')

In [ ]:
data['term_int'].unique()

array(['36', '60', nan], dtype=object)

In [ ]:
data['term_int']=pd.to_numeric(data['term_int'])

In [ ]:
type(data['term_int'][0])

numpy.float64

# Preprocessing Date columns

## ealiest cr line

In [ ]:
data['earliest_cr_line'].head()

0    Aug-2003
1    Dec-1999
2    Aug-2000
3    Sep-2008
4    Jun-1998
Name: earliest_cr_line, dtype: object

In [ ]:
type(data['earliest_cr_line'][0])

str

In [ ]:
data['earliest_cr_line_date']=pd.to_datetime(data['earliest_cr_line'],format='%b-%Y')

In [ ]:
type(data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
round((pd.to_datetime('2017-12-01') - data['earliest_cr_line_date'])/np.timedelta64(1, 'M'))

0          172.0
1          216.0
2          208.0
3          111.0
4          234.0
           ...
2260696    274.0
2260697    221.0
2260698    258.0
2260699      NaN
2260700      NaN
Name: earliest_cr_line_date, Length: 2260701, dtype: float64

In [ ]:
data['mths_since_earliest_cr_line']=round((pd.to_datetime('2017-12-01') - data['earliest_cr_line_date'])/np.timedelta64(1, 'M'))

In [ ]:
data['mths_since_earliest_cr_line'].describe()

count    2.260639e+06
mean     2.156891e+02
std      9.416722e+01
min      2.500000e+01
25%      1.510000e+02
50%      2.000000e+02
75%      2.650000e+02
max      1.017000e+03
Name: mths_since_earliest_cr_line, dtype: float64

In [ ]:
data.loc[:,['earliest_cr_line', 'earliest_cr_line_date','mths_since_earliest_cr_line']][data['mths_since_earliest_cr_line']>0]

        earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
0               Aug-2003            2003-08-01                        172.0
1               Dec-1999            1999-12-01                        216.0
2               Aug-2000            2000-08-01                        208.0
3               Sep-2008            2008-09-01                        111.0
4               Jun-1998            1998-06-01                        234.0
...                  ...                   ...                          ...
2260694         Dec-1999            1999-12-01                        216.0
2260695         Feb-1991            1991-02-01                        322.0
2260696         Feb-1995            1995-02-01                        274.0
2260697         Jul-1999            1999-07-01                        221.0
2260698         Jun-1996            1996-06-01                        258.0

[2260639 rows x 3 columns]

## issue_d

In [ ]:
data['issue_d'].head()

0    Dec-2015
1    Dec-2015
2    Dec-2015
3    Dec-2015
4    Dec-2015
Name: issue_d, dtype: object

In [ ]:
data['issue_d_date']=pd.to_datetime(data['issue_d'],format='%b-%Y')

In [ ]:
data['mths_since_issue_d']=round((pd.to_datetime('2017-12-01') - data['issue_d_date'])/np.timedelta64(1, 'M'))

In [ ]:
data['mths_since_issue_d'].describe(
)

count    2.260668e+06
mean     1.895439e+01
std      2.161178e+01
min     -1.200000e+01
25%      1.000000e+00
50%      1.700000e+01
75%      3.200000e+01
max      1.260000e+02
Name: mths_since_issue_d, dtype: float64

In [ ]:
data.loc[:,['issue_d', 'issue_d_date','mths_since_issue_d']][data['mths_since_issue_d']<0]

          issue_d issue_d_date  mths_since_issue_d
421097   Mar-2018   2018-03-01                -3.0
421098   Mar-2018   2018-03-01                -3.0
421099   Mar-2018   2018-03-01                -3.0
421100   Mar-2018   2018-03-01                -3.0
421101   Mar-2018   2018-03-01                -3.0
...           ...          ...                 ...
1611872  Apr-2018   2018-04-01                -4.0
1611873  Apr-2018   2018-04-01                -4.0
1611874  Apr-2018   2018-04-01                -4.0
1611875  Apr-2018   2018-04-01                -4.0
1611876  Apr-2018   2018-04-01                -4.0

[495242 rows x 3 columns]

In [ ]:
data['mths_since_issue_d'].min()

-12.0

In [ ]:
data['mths_since_issue_d'][data['mths_since_issue_d']<0]=data['mths_since_issue_d'].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data['mths_since_issue_d'].min()

0.0

In [ ]:
data['mths_since_issue_d'].describe()

count    2.260668e+06
mean     4.801613e+01
std      4.457054e+01
min      0.000000e+00
25%      1.500000e+01
50%      3.000000e+01
75%      6.400000e+01
max      1.260000e+02
Name: mths_since_issue_d, dtype: float64

## Removing empty columns

In [ ]:
data=data.drop(['hardship_type','hardship_reason','hardship_status','deferral_term','hardship_amount','hardship_start_date','hardship_end_date','payment_plan_start_date','hardship_length','hardship_dpd',
'desc','member_id','sec_app_fico_range_high','sec_app_earliest_cr_line','sec_app_inq_last_6mths','sec_app_mort_acc','sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts',
'sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog','revol_bal_joint','sec_app_fico_range_low','hardship_loan_status','orig_projected_additional_accrued_interest',
'hardship_payoff_balance_amount','hardship_last_payment_amount','debt_settlement_flag_date','settlement_status','settlement_date','settlement_amount','settlement_percentage','settlement_term','mths_since_recent_bc_dlq',
'next_pymnt_d','mths_since_last_major_derog','annual_inc_joint','dti_joint','verification_status_joint','mths_since_recent_revol_delinq'],axis=1)

In [ ]:
data=data.sample(1100000)

In [ ]:
data.shape

(1000000, 114)

In [ ]:
%pwd

'/content/gdrive/My Drive/Kaggle_Data/P2P lending'

In [ ]:
data.to_csv('data_1.csv',index=False)